<div class="page-header" id="banner">
    <div class="row">
        <div class="col-sm-6">
            <h1>@(wuri-tests - Admin)</h1>
            <p class="lead">
                @(Administration de la plateforme)
            </p>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
</div>
<div class="row mt-5">
    <h2 class="mb-3">@(Tests)</h2>
    <div class="col-sm-12">
        <a href="/admin/tests/wuri" class="pe-3 mb-2 me-3 d-sm-inline d-block" role="button">
            <i class="fa fa-qrcode me-2"></i>@(QR Code)
        </a>
    </div>
</div>
<div class="row mt-5">
    <h2 class="mb-3">@(Manage)</h2>
    <div class="col-sm-12">
        <a href="/admin/groups" class="pe-3 mb-2 me-3 d-sm-inline d-block" role="button">
            <i class="fas fa-users me-2"></i>@(Groupes)
        </a>
        <a href="/admin/users" class="pe-3 mb-2 me-3 d-sm-inline d-block" role="button">
            <i class="fa fa-user me-2"></i>@(Utilisateurs)
        </a>
    </div>
</div>