<div class="page-header" id="banner">
    <div class="row">
        <div class="col-sm-6">
            <h1>@(WURI Tests)</h1>
            <p class="lead">@(Test set for WURI)</p>
        </div>
        <div class="col-sm-6">
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm-12">
            <a href="/admin" class="btn btn-secondary p-3 mb-1 me-3" role="button">
                <i class="fa fa-qrcode me-2"></i> @(Tester le générateur)
            </a>
        </div>
    </div>
</div>