<div class="table-responsive-md">
    <table class="card-body table table-xm table-striped table-hover table-borderless">
        <thead>
            <tr>
                <th>#</th>
                <th>@(Email)</th>
                <th>@(Nom)</th>
                <th>@(Profil)</th>
                <th>@(Groupes)</th>
                <th>@(Etat)</th>
            </tr>
        </thead>
        <tbody>
            @{foreach c in R.users}
            <tr>
                <td>@{R.line}</td>
                <td>
                    <a href="#"
                        onclick="loadModal('/admin/users/edit/@{c._id}/?page=@{R.page}&l=@{R.uref}', 'md');return false;">
                        @{c.email}
                    </a>
                </td>
                <td>@{c.firstName} @{c.lastName} </td>
                <td>@{c.profile}</td>
                <td>@{if(c.group)} @{c.group.code} - @{c.group.label} @{fi}</td>
                <td>@{c.status}</td>
            </tr>
            @{R.line++}
            @{end}
            @{foreach n in helpers.range(R.line, R.lineEnd, 1)}
            <tr>
                <td>@{n}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @{end}
        </tbody>
    </table>
</div>
<div class="card-footer">
    @{view('partial-paging', R.pagination)}
</div>